html, body {
  text-align: center;
  background-color: #F6F5EB;

  height: 100%;
  margin: 0;
}

.owl-carousel .item .img {
  display: block;
  width: 200px;
  height: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}


#slideshow2{
  /* background-color: black; */
  height: 100%:
}

/* NAVBAR */
#navbarMain {
  text-align: center;
  font-size: 2rem;
  font-family: "pancake_syrup__texturedRg";
}

.eachMenu {
  color: white;
}


.container{
  text-align: center;
}
