html, body {
  text-align: center;
  background-color: #F6F5EB;

  height: 100%;
  margin: 0;
}

h1 {
  font-size: 5rem;
}
p {
  font-size: 1.5rem;
}

#title{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
}


#navbarMain {
  text-align: center;
  font-size: 2rem;
  padding-left: 34%;
  padding-top: 10%;
  font-family: "pancake_syrup__texturedRg";
}

#slideshow2{
  /* background-color: black; */
  height: 100%:
}


.eachMenu {
  color: white;
}

.titleDiv {
  color: black;
  padding-top: 10%;
  font-family: "browncakeregular";
}

.container{
  text-align: center;
}
