html, body {
  text-align: center;
  background-color: #F6F5EB;

  height: 100%;
  margin: 0;
}

h1 {
  font-size: 5rem;
}
p {
  font-size: 1.5rem;
}

#title{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
}

.titleDiv {
  color: black;
  padding-top: 10%;
  font-family: "browncakeregular";
}

/* NAVBAR */
#navbarMain {
  text-align: center;
  font-size: 2rem;
  font-family: "pancake_syrup__texturedRg";
}

.eachMenu {
  color: white;
}


.container{
  text-align: center;
}
