
body{
  background-color: black;

}

#navbarMain{
  text-align: center;
  background-color: black;
  color: white;
  padding: 2% 7%;
}

.nav-item{
  margin-right: 30px;
}


.slide-main-box{
  text-align: center;
}

.carousel-item{
  text-align: center;
  position: relative;
  padding: 5% 15%;
}

.painting{
  text-align: center;
  padding: 5% 27%;
}

#email-Contact{
  
}
