

body {
  text-align: center;
  background-color: #F6F5EB;
  /* background-color: black; */
}

h1{
  font-size: 5rem;
}

p{
  font-size: 1.5rem;
}



#navbarMain{
  text-align: center;
  font-size: 2rem;
  padding-left: 34%;
  padding-top: 10%;

  font-family: "pancake_syrup__texturedRg";

}

.eachMenu{
  color: white;
}

.titleDiv{
  color: black;
  padding-top: 10%;
  font-family: "browncakeregular";
}


#slideshow{
  text-align: center;
}



/* .carousel-item{
  width: 40%;
  height: 30%;
  margin-left: 30%;
} */
